.tankfarmIcon{
    
    height :40px;
    width: 40px;
    padding-right: 2px;
    
    
}

.barrelIcon{
    
    height :40px;
    width: 40px;
    padding-right: 2px;
    
    
}
.data-color="purple
