.tankfarmIcon{
    
    height :50px;
    width: 50px;
    padding-right: 2px;
    
    
}

.barrelIcon{
    
    height :40px;
    width: 50px;
    position: relative;
    right: 5px;
    
    
}
.table{
    width: 98%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    margin-left: 10px;
    margin-top: 5%;
    
}

.brewButton{
    
    margin-left:10%;
    
}

.datepicker{
    
    margin-top:5%;
    margin-left: 30%;
    
}
