
/*------------------------------------------ICONS/LOGOS--------------------------------------------*/



.sidebar:after, body>.navbar-collapse:after{
    background-color: white;
}

.btn-group>.btn:first-child{
    padding: 0;
    border: none;
    background: none;
}


.main-panel .navbar{
    
    max-height: 10px;
}


.logo{

    text-align: center;

}

hr { margin: 2px 20px 20px 20px; }

.recipeButton{
    
    margin-top:5%;
    margin-left:10%;
}


/*------------------------------------------------------TABLES-------------------------------------------*/


.table{
    width: 98%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    margin-left: 5px;
    margin-top: 5%;

}
.table-sm{

    font-size: 80%;
    margin-top: 2%;
}
.table-sm td,th{

    width:2px;
}

/*----------------------------------DropDown Menu CSS------------------------------*/

.custom-select{

    width: 300px;
}





/*---------------------------------------HEADER SPACING------------------------------------------------*/

.leftSpacingh1{

    margin-left:2%;
}

.leftSpacingh4{

    margin-left:5%;
}

.brewSteps{

    border-style: hidden;
    background-color: #fcf8e3;
    border: 1px solid #faebcc;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
}
/*------------------------------Production----------------------------------------------*/
.productionButton{

    margin-left:2%;

}

.productionMessage {

    text-align: center;

}

/*-----------------------------Finished Inventory---------------------------------------*/
.finishedInventoryUpdateButton{

    margin-left:2%;

}

.rawInventoryUpdateButton{
    margin-left:2%;
}


/*------------------------------------------BUTTONS-----------------------------*/

.brewSubmit{

    text-align: center;
}

.btn-danger{

    margin-left:60%;
}

.btn-success {
    width:40%;
    height:20%;
    opacity:1;
    font-weight: 700;
}

.brewButton{

    margin-left:10%;

}

/*---------------------------------------------DROP DOWN MENUS-------------------------------------*/

.fvSelect{

    margin-left:20%;

}

.selectBrew{

    margin-left:35%;
    margin-right:35%;
    margin-top:10%;
}

.custom-select{

    width: 300px;
}

.datepicker{

    margin-top:5%;
    margin-left: 30%;


}

/*-------------------------------Tank Transfer------------------------------------------*/

.helpInfo{
    color: #00ffff;
}

/*-------------------------------Tooltip-------------------------------------------------*/
.tooltip-inner {
    max-width: 50px;
    /*width: 350px;*/
}

/*-------------------------------- Modal ------------------------------------------------*/
.modal-content {
    overflow-x: scroll;
    overflow-y: scroll;
}

.logo{
    
    margin-left:20px;
    margin-right:20px;
}


